nav
    ul
        li default
        |         
        li category a
        |         
        li category b
        |         
        li category c
        |         
        li category d
        |         
        li category e