doctype html(lang='ja')
head
body
    include ../../include/header.jade
    include ../../include/nav.jade
    div
        h2 h2test
        div
        p p p p p p
        include ../../include/header.jade